# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.Librarian Simulator.iml
/modules.xml
/projectSettingsUpdater.xml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../:\UnityProjects\Librarian Simulator\.idea\.idea.Librarian Simulator\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
